@import 'bower_components/ratchet/sass/ratchet';
@import "bower_components/ratchet/sass/theme-ios";
@import 'bower_components/fontawesome/scss/font-awesome';

* {
  -webkit-tap-hightlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

/*@keyframes domChanged { from { background-color: yellow; } }*/
/*@-webkit-keyframes domChanged { from { background-color: yellow; } }*/

/*.ember-view { 
  animation: domChanged 1s;
  -webkit-animation: domChanged 1s;
}*/

.content-a > .table-view:first-child {
  margin-top: 0;
}

.modal-alert {
  background-color: rgba(0, 0, 0, 0.90);
}

.modal-alert .content {
  background-color: transparent;
}

.center {
  text-align: center;
}

.bar-footer-secondary {
  padding: 6px;
}

.modal div.content {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
}

.p-bluetooth,
.p-bluetooth-xl {
  color: rgba(255, 99, 71, 1.0);
}

.p-auth,
.p-auth-xl {
  color: rgba(255, 105, 180, 1.0);
}

.p-bluetooth span,
.p-auth span {
  color: #fff;
}

.p-bluetooth-xl, .p-auth-xl {
  font-size: 25px;
  font-weight: 100;
}

.btn-outlined.btn-tomato:active {
  color: black;
}

.btn-outlined.btn-tomato {
  color: rgba(255, 99, 71, 1.0);
}

.btn-tomato:active, .btn-tomato.active {
  background-color: rgba(255, 99, 71, 1.0);
  border: 1px solid rgba(255, 99, 71, 1.0);
}

.btn-tomato {
  color: #fff;
  border: 1px solid rgba(255, 99, 71, 1.0);
}

.outer {
  background-color: #323232;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
 
.middle {
  display: table-cell;
  vertical-align: middle;
}
 
.inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fa + .fa {
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
}

.bar {
  background-color: #323232;
}

.title {
  color: white;
}

.bar-tab {
  border-top: none;
}

.table-view-cell {
  padding: 10px;
}

.bar-footer-secondary ~ .content {
  padding-bottom: 88px;
}

.header-setting {
  padding: 8px 5px 20px 20px;
}

.modal-setting-close {
  font-size: 30px;
  position: absolute;
  right: 0;
  padding: 0 10px 10px 10px;
  color: red;
}

.modal-setting-head {
  margin-bottom: 0;
}
