<polymer-element name="main-page">
  <template>
    <style>
     body {
       font-family: Arial, "RobotoDraft";
       font-weight: 300;
     }

     core-animated-pages {
       width: 85%;
       height: 85%;
       -webkit-user-select: none;
       overflow: hidden;
     }

     core-animated-pages > * {
       border-radius: 5px;
       /* font-size: 50px; */
       background-color: white;
     }

     body /deep/ core-toolbar {
       background-color: #03a9f4;
       color: #fff;
     }

     core-menu {
       color: #01579b;
       margin: 10px 0 0 0;
     }

     core-menu > paper-item {
       transition: all 300ms ease-in-out;
     }

     paper-item a {
       text-decoration: none;
       color: currentcolor;
       margin-left: 5px;
     }

     core-menu > paper-item.core-selected {
       background: #e1f5fe;
     }

     @media all and (max-width: 480px) {
       core-animated-pages {
	 width: 100%;
	 height: 100%;
       }
     }
    </style>

    <!-- <script>
    var template = document.querySelector('#t');

    template.pages = [
    {name: 'Single', hash: 'one'},
    {name: 'page', hash: 'two'},
    ];

    template.menuItemSelected = function(e, detail, sender) {
    if (detail.isSelected) {
    this.$ && this.$.scaffold.closeDrawer();
    }
    };
    </script> -->

    <core-scaffold id="scaffold">

      <nav>
	<core-toolbar>
	  <span>HKW Hub Clinet App</span>
	</core-toolbar>
	<core-menu valueattr="hash" selected="{{route}}" on-core-select="{{menuItemSelected}}">
	  <template repeat="{{page, i in pages}}">
	    <paper-item hash="{{page.hash}}" noink>
	      <core-icon icon="label{{route != page.hash ? '-outline' : ''}}"></core-icon>
	      <a href="#{{page.hash}}">{{page.name}}</a>
	    </paper-item>
	  </template> 

	  <!-- <paper-item hash="one" noink>
	  <core-icon icon="label{{''}}"></core-icon>
	  <a href="#one">Media Player</a>
	  </paper-item> -->
	</core-menu>
      </nav>

      <core-toolbar tool flex>
	<div flex></div>
	<core-icon-button icon="refresh"></core-icon-button>
	<core-icon-button icon="add"></core-icon-button>
      </core-toolbar>

      <div layout horizontal center-center fit>
	<core-animated-pages id="root_animated_pages" selected="{{route}}" valueattr="hash"
                             transitions="slide-from-right">

	  <section hash="playlist" layout vertical center-center>
	    <playlist-screen id="playlist_screen"></playlist-screen>
	  </section>

	  <section hash="mediaplayer" layout vertical center-center>
	    <mediaplayer-screen id="mediaplayer_screen"></mediaplayer-screen>
	  </section>

	  <section hash="speakers" layout vertical center-center>
	    <speakers-screen id="speakers_screen"></speakers-screen>
	  </section>

	  </section> 
	</core-animated-pages>
      </div>

    </core-scaffold>

  </template>

  <script>

  </script>


  <script>
   Polymer('main-page', {
     pages : [
        {name: 'Playlist', hash: 'playlist'},
	{name: 'Media Player', hash: 'mediaplayer'},
	{name: 'Speaker List', hash: 'speakers'},
     ], 

     menuItemSelected : function(e, detail, sender) {
       console.log("menuItemSelected");
	if (detail.isSelected) {
	  console.log(detail);
	  this.$ && this.$.scaffold.closeDrawer();
	  console.log(this.route);
	  if (this.route == "playlist") {
	    console.log("now we are in Playlist screen");
	  }
	  else if (this.route == "mediaplayer") {
	    console.log("now we are in Media Player screen");
	    var mediaplayer = document.querySelector("core-animated-pages section main-page::shadow #mediaplayer_screen");
	    mediaplayer.go_mediaplayer();
	  }
	  else if (this.route == "speakers") {
	    console.log("now we are in Speakers screen");
	    var speakers = document.querySelector("core-animated-pages section main-page::shadow #speakers_screen");
	    speakers.go_speakers();
	  }
	}
     },

     publish: {
     },

     ready: function () {
       console.log("signin-ready");
     }

   });

  </script>
</polymer-element>
