<polymer-element name="mediaplayer-screen">
  <template>
    <style>

     #title {
       position: absolute;
       top: 0px;
       left: 10px;
       width: 100%;
       height: 20px;
     }

     #player-status {
       position: absolute;
       top: 60px;
       left: 10px;
       width: 100%;
       height: 30px;
     }

     #player_panel {
       position: absolute;
       top: 140px;
       left: 10px;
       width: 100%;
       background: white;
       height: 60px;
     }

      paper-icon-button /deep/ core-icon[role=img] {
       /* color: black; */
       height: 60px;
       width: 60px;
      }

     #volume {
       position: absolute;
       top: 220px;
       left: 10px;
       width: 100%;
       height: 30px;
     }


     #audiomanager_panel {
       position: absolute;
       top: 250px;
       left: 10px;
       width: 100%;
       height: 50px;
     }

     #volume_slider {
       position: relative;
       width: 70%;
       height: 40px;
     }

     #audiomanager_panel paper-icon-button /deep/ core-icon[role=img] {
       height: 30px;
       width: 30px;
     } 

     #progress_panel {
       position: absolute;
       top: 300px;
       left: 10px;
       width: 100%;
       height: 30px;
     }

     #player_progress {
       position: relative;
       width: 70%;
       height: 10px;
     }
    </style>
    
    <core-ajax id="ajaxGetVolume"
	       method="GET"
	       url="{{urlGetVolume}}"
	       on-core-response="{{responseGetVolume}}"
	       on-core-error="{{errorGetVolume}}">
    </core-ajax>

    <core-ajax id="ajaxPlayerControl"
	       method="GET"
	       url="{{urlPlayerControl}}"
	       on-core-response="{responsePlayerControl}}"
	       on-core-error="{{errorPlayerControl}}">
    </core-ajax>

    <core-ajax id="ajaxSetVolumeAll"
	       method="GET"
	       url="{{urlSetVolumeAll}}"
	       on-core-response="{responseSetVolumeAll}}"
	       on-core-error="{{errorSetVolumeAll}}">
    </core-ajax>

    <core-ajax id="ajaxGetTimeElapsed"
	       method="GET"
	       url="{{urlGetTimeElapsed}}"
	       on-core-response="{{responseGetTimeElapsed}}"
	       on-core-error="{{errorGetTimeElapsed}}">
    </core-ajax>

    <h2 id="title">Play Control</h2>
    <div id="player-status">
      <span style="font-weight:bold">Title: </span><span>{{curTitle}}</span><br>
      <span style="font-weight:bold">Artist: </span><span>{{curArtist}}</span><br>
      <span style="font-weight:bold">Album Title: </span><span>{{curAlbumTitle}}</span><br>
      <span style="font-weight:bold">Status: </span><span>{{statusLabel}}</span>
    </div>

    <div id="player_panel">
      <paper-icon-button icon="av:skip-previous"" on-click="{{skip_rewind}}"></paper-icon-button>	  
      <paper-icon-button icon="av:play-circle-fill" class="red" on-click="{{play}}" id="play-button"></paper-icon-button>	  
      <Paper-icon-button icon="av:skip-next" on-click="{{skip_forward}}"></paper-icon-button>	  
    </div>

    <!-- <h3>Volume</h3> -->
    <div id="volume">
    <span style="font-weight:bold">Volume: </span><span>{{volume}}</span>
    </div>
    <div id="audiomanager_panel">
      <paper-icon-button icon="av:volume-down" on-click="{{volume_down}}"></paper-icon-button>
      <paper-slider id="volume_slider" pin value="{{volume}}" on-change="{{volume_change}}" min="0" max="50"></paper-slider>
      <paper-icon-button icon="av:volume-up" on-click="{{volume_up}}"></paper-icon-button>
    </div>

    <!-- <h3>Progress</h3> -->
    <div id="progress_panel">
      <span>{{time_passed}}</span>
      <paper-progress id="player_progress" value="{{progressValue}}" max="{{duration}}"></paper-progress>
      <span>-{{time_remaining}}</span>
    </div>

  </template>

  <script>
   Polymer('mediaplayer-screen', {
     trackList: null,
     trackSelected: 0,
     statusLabel: "Ready",
     curTitle: "",
     curArtist: "",
     curAlbumTitle: "",
     duration: 0,
     persistentID: "",
     progressValue: 0,
     volume: 25,
     time_passed: "0:00",
     time_remaining: "0:00",
     runPlayerTimer: false,


     created: function () {
       this.selection = "0";
     },

     ready: function () {
       console.log("mediaplayer-screen");
     },

     go_mediaplayer : function() {
       /* Get Volume */
       console.log("get volume:::");
       this.urlGetVolume = window.huburl + "v1/get_volume?SessionID=" + window.SessionID;
       console.log("urlGetVolume: " + this.urlGetVolume);
       this.$.ajaxGetVolume.go();

       this.progressValue = 0;
       this.time_passed = "0:00";
       this.time_remaining = "0:00";
     },

     trackListChanged: function () {
       console.log("########################### trackListChanged");
       if(this.trackList != null) {
	 this.trackSelected = 0;
	 var title = this.trackList[this.trackSelected].Title;
	 console.log("title: " + title);
	 this.status_label = "Ready";
	 this.cur_title = title;
	 this.persistentID = this.trackList[this.trackSelected].PersistentID;
	 window.mediaplayer_play_mode = "PAUSED";
       }
     },
     
     trackSelectedChanged: function () {
       console.log("trackSelectedChanged: " + this.trackSelected);

       var title = this.trackList[this.trackSelected].Title;
       this.persistentID = this.trackList[this.trackSelected].PersistentID;
       console.log("selected: " + title + ", PersistentID: " + this.persistentID);

       if(window.mediaplayer_play_mode == "PAUSED") {
	 this.status_label = "Ready";
	 this.cur_title = title;
	 this.value = 0;
       }
       else {
	 // keep playing with the next track
	 this.status_label = "Playing";
	 this.cur_title = title;
       }
     },

     // result of GetVolume
     responseGetVolume: function (e) {
       if(this.$.ajaxGetVolume.response == null) {
	 console.log("responseGetVolume: response is null. skip");
	 return;
       }
       console.log("response:" + this.$.ajaxGetVolume.response);
       var parseData = JSON.parse(this.$.ajaxGetVolume.response);
       this.volume = parseData.Volume;
       console.log("getVolume: " + this.volume);
     },

     errorGetVolume: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxGetVolume.response);
     },


     responsePlayerControl: function (e) {
       console.log("response:" + this.$.ajaxPlayerControl.response);
       var parseData = JSON.parse(this.$.ajaxPlayerControl.response);
     },

     errorPlayerControl: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxPlayerControl.response);
     },

     preparePlay: function () {
       this.stopTimer();
       console.log("preparePlay: " + window.mediaplayer_playMode);
       if (window.mediaplayer_playMode == "PLAYING") {
	 console.log("currently now playing. So we stop it first.");

	 window.mediaplayer_playMode = "PAUSED";

	 // send request for Pause
	 this.urlPlayerControl = window.huburl + "v1/pause_play?SessionID=" + window.SessionID;
	 console.log("urlPlayerControl: " + this.urlPlayerControl);

	 this.$.ajaxPlayerControl.go();

	 console.log("Changing the button to: play");
	 this.$.player_panel.querySelector("#play-button").setAttribute('icon', "av:play-circle-fill");

       }
     },

     play: function () {
       console.log("Play clicked...");
       if (window.playlist_persistentID == "") {
	 console.log("persistentID is not set");
	 return;
       }

       
       if(window.mediaplayer_playMode != "PLAYING") {
	 window.mediaplayer_playMode = "PLAYING";

	 // send request for Play
	 if (window.mediaplayer_everPlayedWithCurrentSong != true) {
	   this.urlPlayerControl = window.huburl + "v1/play_hub_media?SessionID=" + window.SessionID + 
"&PersistentID=" + window.playlist_persistentID;
	   window.mediaplayer_everPlayedWithCurrentSong = true;
	 }
	 else {
	   this.urlPlayerControl = window.huburl + "v1/resume_hub_media?SessionID=" + window.SessionID + 
"&PersistentID=" + window.playlist_persistentID;
	 }
	 console.log("urlPlayerControl: " + this.urlPlayerControl);
	 
	 this.$.ajaxPlayerControl.go();

	 console.log("Changing the button to: pause");
	 this.$.player_panel.querySelector("#play-button").setAttribute('icon', "av:pause-circle-fill")
;

	 this.stopTimer();
	 this.startTimerForElapsedTime();
       }
       else {
	 this.stopTimer();
	 window.mediaplayer_playMode = "PAUSED";

	 // send request for Pause

	 this.urlPlayerControl = window.huburl + "v1/pause_play?SessionID=" + window.SessionID;
	 console.log("urlPlayerControl: " + this.urlPlayerControl);

	 this.$.ajaxPlayerControl.go();

	 console.log("Changing the button to: play");
	 this.$.player_panel.querySelector("#play-button").setAttribute('icon', "av:play-circle-fill");
       }
     },


     skip_rewind: function () {
       console.log("skip_rewind");
     },

     skip_forward: function () {
       console.log("skip_forward");
     },

     repeat: function () {
     },

     shuffle: function () {
       console.log("shuffle");
     },

     selectionChanged: function () {
       console.log("selection: " + this.selection);
       
     },

     track_selected: function (event, detail, sender) {
     },

     volume_up: function() {
       console.log("volume_up");
       if(this.volume < 128) {
	 this.volume ++;
	 this.volume_change();
       }
     },
     
     volume_down: function() {
       console.log("volume_down");
       if(this.volume > 0) {
	 this.volume --;
	 this.volume_change();
       }
     },

     // audio volume value changed 
     volume_change: function() {
       console.log("volumeChanged: " + this.volume);
       this.urlSetVolumeAll = window.huburl + "v1/set_volume?SessionID=" + window.SessionID + "&Volume=" + this.volume;
       console.log("urlSetVolumeAll: " + this.urlSetVolumeAll);
	 
       this.$.ajaxSetVolumeAll.go();
     },

     // result of GetVolume
     responseSetVolumeAll: function (e) {
       console.log("SetVolumeAll response:" + this.$.ajaxSetVolumeAll.response);
       var parseData = JSON.parse(this.$.ajaxSetVolumeAll.response);
       var result = parseData.Result;
       console.log("SetVolumeAll: result: " + result);
     },

     errorSetVolumeAll: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxSetVolumeAll.response);
     },

     startTimerForElapsedTime: function () {
       if (this.runPlayerTimer == true) {
	 return;
       }

       var t = setTimeout(function() {
	 this.runPlayerTimer = true;
	 this.runTimer();
       }.bind(this), 1000);
     },

     stopTimer: function() {
       this.runPlayerTimer = false;
     },

     runTimer: function () {
       if (this.runPlayerTimer == false) {
	 console.log("exit from runTimer");
	 return;
       }

       console.log("runTimer: updateElapsedTime");
       // get elapsed time from the hub
       this.urlGetTimeElapsed = window.huburl + "v1/playback_status?SessionID=" + window.SessionID;
       console.log("runTimer: urlGetTimeElapsed: " + this.urlGetTimeElapsed);
       this.$.ajaxGetTimeElapsed.go();
       
       if (this.runPlayerTimer == true) {
	 var t = setTimeout(function() {
	   this.runTimer();
	 }.bind(this), 1000);
       }
     },

     responseGetTimeElapsed: function(e) {
       if (this.$.ajaxGetTimeElapsed.response == null) {
	 console.log("responseGetTimeElapsed: response is null. skip");
	 return;
       }

       console.log("GetTimeElased respone: " + this.$.ajaxGetTimeElapsed.response);
       var parseData = JSON.parse(this.$.ajaxGetTimeElapsed.response);
       var timeElapsed = parseData.TimeElapsed;
       var playbackState = parseData.PlaybackState;
       console.log("PlaybackState: : " + playbackState + ", timeElapsed: " + timeElapsed); 
       if (playbackState == "PlayerStatePlaying" && timeElapsed >= 0) {
	 this.progressValue = timeElapsed;

	 var min = Math.floor(timeElapsed / 60);
	 var sec = timeElapsed % 60;
	 if(sec < 10) sec = "0" + sec;
	 this.time_passed = min + ":" + sec;

	 var time_remaining = this.duration - timeElapsed;
	 min = Math.floor(time_remaining / 60);
	 sec = time_remaining % 60;
	 if(sec < 10) sec = "0" + sec;
	 this.time_remaining = min + ":" + sec;

	 window.mediaplayer_nowPlaying = true;
       } 
       else if (playbackState == "PlayerStatePaused" && timeElapsed < 0) {
	 // skip
       }
       else if (playbackState == "PlayerStatePaused" && timeElapsed >= 0) {
	 if (window.mediaplayer_nowPlaying == true) {
	   window.mediaplayer_playMode = "PAUSED";
	   console.log("Changing the button to: play");
	   this.$.player_panel.querySelector("#play-button").setAttribute('icon', "av:play-circle-fill");
	   window.mediaplayer_nowPlaying = false;
	 }
       }
       else if (playbackState == "PlayerStateStopped" || playbackState == "PlayerStateStopped" || playbackState == "PlayerStateInterrupted") {
	 if (window.mediaplayer_nowPlaying == true) {
	   window.mediaplayer_playMode = "PAUSED";
	   window.mediaplayer_everPlayedWithCurrentSong = false;
	   console.log("Changing the button to: play");
	   this.$.player_panel.querySelector("#play-button").setAttribute('icon', "av:play-circle-fill");

	   window.mediaplayer_nowPlaying = false;
	   this.stopTimer();
	 }
       }
     },

     errorGetTimeElapsed: function() {
       console.log("GetTimeElased error: " + this.$.ajaxGetTimeElapsed.response);
       window.mediaplayer_playMode = "PAUSED";
       this.stopTimer();
     },

   });


  </script>
</polymer-element>
