<polymer-element name="playlist-screen">
  <template>
    <style>
     #title {
       position: absolute;
       top: 0px;
       left: 10px;
       width: 100%;
       height: 20px; 
     }

     #track-panel {
       position: absolute;
       top: 50px;
       left: 10px;
       width: 100%;
       height: 300px; 
       overflow-y: scroll;
     }

     /* Track List */
     .list {
       display: block;
       border: 1px solid #ccc;
       border-bottom: none;
       background: #666;
       color: white;
       list-style: none;
       margin: 0;
       padding: 0;
     }
     
     .list > * {
       height: 60px;
       line-height: 60px;
       padding: 0 20px;
       border-bottom: 1px solid #ccc;
     }
     
     .list > *.core-selected {
       background: #333;
     }

     #track_info {
       /* position: absolute;
	  top: 15x;
	  left: 5px; */
       color: #ccc;
       font-size: 0.7em;
     }

    </style>
    
      <h2 id="title">Playlist</h2>
      <core-selector id="track-panel" class="list" selected="{{trackSelected}}">
	<template repeat="{{track in trackList}}">
          <div>
	    <!-- <img src="{{track.album_art_path}}" width="50" height="50"> -->
	    <span id="track_title">{{track.Title}}</span>
	    <span id="track_info">{{track.AlbumTitle}}, {{track.Artist}}, {{track.Duration}}</span>
	  </div>
	</template>
      </core-selector>

      <core-ajax id="ajaxMediaList"
		 method="GET"
		 url="{{urlMediaList}}"
		 on-core-response="{{responseMediaList}}"
		 on-core-error="{{errorMediaList}}">
      </core-ajax>

      <core-ajax id="ajaxSetPartyMode"
		 method="GET"
		 url="{{urlSetPartyMode}}"
		 on-core-response="{{responseSetPartyMode}}"
		 on-core-error="{{errorSetPartyMode}}">
      </core-ajax>


  </template>

  <script>
   Polymer('playlist-screen', {
     trackList: null,
     trackSelected: -1,
     volume: 25,

     created: function () {
       window.playlist_curTitle = "";
       window.playlist_persistentID = "";
       window.playlist_artist = "";
       window.playlist_albumTitle = "";
       window.playlist_duration = 0;
       window.mediaplayer_playMode = "PAUSED";
     },

     ready: function () {
       console.log("playlist-screen");
     },

     go_playlist : function() {
       /* Get Media item list  */
       this.urlMediaList = window.huburl + "v1/media_list?SessionID=" + window.SessionID;
       console.log("urlMediaList: " + this.urlMediaList);
       this.$.ajaxMediaList.go();

       /* set party mode  */
       this.urlSetPartyMode = window.huburl + "v1/set_party_mode?SessionID=" + window.SessionID;
       console.log("urlSetPartyMode: " + this.urlSetPartyMode);
       this.$.ajaxSetPartyMode.go();
     },

     trackListChanged: function () {
       console.log("########################### trackListChanged");
       if(this.trackList != null) {
       }
     },
     
     trackSelectedChanged: function () {
       console.log("trackSelectedChanged: " + this.trackSelected);

       window.mediaplayer_everPlayedWithCurrentSong = false;

       window.playlist_title = this.trackList[this.trackSelected].Title;
       window.playlist_persistentID = this.trackList[this.trackSelected].PersistentID;
       window.playlist_artist = this.trackList[this.trackSelected].Artist;
       window.playlist_albumTitle = this.trackList[this.trackSelected].AlbumTitle;
       window.playlist_duration = this.trackList[this.trackSelected].Duration;
       console.log("selected: " + window.playlist_title + ", PersistentID: " + window.playlist_persistentID);

       var mediaplayer = document.querySelector("core-animated-pages section main-page::shadow #mediaplayer_screen");
       mediaplayer.statusLabel = "Ready";
       mediaplayer.curTitle = window.playlist_title;
       mediaplayer.curArtist = window.playlist_artist;
       mediaplayer.curAlbumTitle = window.playlist_albumTitle;
       mediaplayer.duration = window.playlist_duration;

       /* var p = this.$.root_animated_pages; */
       var mainpage = document.querySelector("core-animated-pages section main-page::shadow #root_animated_pages");
       mainpage.selected = "mediaplayer";
       mediaplayer.go_mediaplayer();
       mediaplayer.preparePlay();
       mediaplayer.play();
     },

     responseMediaList: function (e) {
       console.log("response:" + this.$.ajaxMediaList.response);
       var parseData = JSON.parse(this.$.ajaxMediaList.response);
       window.mediaItemList = parseData;
       console.log("mediaItemList:" + parseData);
       var res = parseData.MediaList;

       for (var x = 0; x < res.length; x++) {
	 console.log("Track[" + x + "].PersistentID:" + res[x].PersistentID);
	 console.log("Track[" + x + "].Title:" + res[x].Title);
	 console.log("Track[" + x + "].Artist:" + res[x].Artist);
	 console.log("Track[" + x + "].AlbumTitle:" + res[x].AlbumTitle);
	 console.log("Track[" + x + "].Duration:" + res[x].Duration);
       }

       this.trackList = res;
     },

     responseSetPartyMode: function (e) {
       console.log("response:" + this.$.ajaxSetPartyMode.response);
     },


     errorMediaList: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxMediaList.response);
     },

     errorSetPartyMode: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxSetPartyMode.response);
     },

   });


  </script>
</polymer-element>
