<polymer-element name="signin-page">
  <template>
    <style>
     html, body {
       height: 100%;
       font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
       margin: 0;
       padding: 5px;
     }
     
     core-header-panel {
       font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
       width: auto;
       height: 450px;
     }

     core-toolbar {
       height: 40px;
     }

     paper-input {
       margin: 1em;
       width: 250px;
     }

     paper-button {
       margin: 1em;
       width: 15em;
     }

    paper-button.colored {
      color: #4285f4;
    }

    paper-button[raised].colored {
      background: #4285f4;
      color: #fff;
    }

    paper-button.custom > core-icon {
      margin-right: 4px;
    }

    paper-button.hover:hover {
      background: #eee;
    }

    paper-button.blue-ripple::shadow #ripple {
      color: #4285f4;
    }

     div .space {
       height: 20px;
     }
    </style>

    <core-header-panel id="core_header_panel">
      <core-toolbar layout horizontal center>
	<div>Sign In to HKWHub</div>
      </core-toolbar>
      <div layout vertical center center-justified>
        <paper-input floatinglabel id="url_input" label="HKWHub URL:" value="{{huburl}}" error="Input is not proper URL" on-input="{{checkInput}}"></paper-input>
	<div class="space"></div>
	<paper-button raised id="submitButton" class="colored" on-tap="{{submit}}">Submit</paper-button>
      </div>

    <core-ajax id="ajax"
      method="GET"
      url="{{url_initsession}}"
      on-core-response="{{ajaxResponse}}"
      on-core-error="{{ajaxError}}">
    </core-ajax>

    </core-header-panel>


  </template>

  <script>
   Polymer('signin-page', {
     publish: {
     },

     ready: function () {
       console.log("signin-ready");

       // read URL input from cookie and set to input field
       var huburl = getCookie("huburl");
       if (huburl != "") {
         console.log("cookie:huburl: " + huburl);
	 this.huburl = huburl;
       } 

       /* if((this.hubUrl == "")) {
	  // disable SUBMIT button
	  this.$.submitButton['disabled'] = true;
	  }
	  else {
	  // enable submit button
	  this.$.submitButton['disabled'] = false;
	  } */
     },


     checkInput: function() {
       console.log("checkInput");
       /* if((this.hubUrl == "")) {
	  // disable SUBMIT button
	  this.$.submitButton['disabled'] = true;
	  }
	  else {
	  // enable submit button
	  this.$.submitButton['disabled'] = false;
	  } */
     },

     ajaxResponse: function (e) {
       console.log("response:" + this.$.ajax.response);
       var parseData = JSON.parse(this.$.ajax.response);
       window.SessionID = parseData.SessionID;
       console.log("SessionID:" + SessionID);

       var p = document.querySelector('core-animated-pages');
       console.log(p);
       p.selected = "main-page";

       var playlist_screen = document.querySelector("core-animated-pages section main-page::shadow #playlist_screen");
       playlist_screen.go_playlist();
       /* var mediaplayer_screen = document.querySelector("core-animated-pages section main-page::shadow #mediaplayer_screen");
	  mediaplayer_screen.go_mediaplayer(); */
     },

     ajaxError: function() {
       // error returned from the server
       console.log("error: " + this.$.ajax.response);
       window.SessionID = 0;
     },

     submit: function() {
       console.log("input huburl: " + this.huburl);


       if((this.huburl != "") ) {
	 // save the huburl for later uses
	 window.huburl = this.huburl;
	 
	 setCookie("huburl", this.huburl, 30);

	 // reset the page view to prevent side effect in the next page
	 document.body.scrollTop = document.documentElement.scrollTop = 0;
	 
	 this.url_initsession = this.huburl + "v1/init_session";
	 console.log("url_initsession: " + this.url_initsession);

	 this.$.ajax.go();
       } else {
	 console.log("url is empty");
       }

     }
   });
  </script>
</polymer-element>
