<polymer-element name="speakers-screen">
  <template>
    <style>
     #title {
       position: absolute;
       top: 0px;
       left: 10px;
       width: 100%;
       height: 20px; 
     }

     #speaker-panel {
       position: absolute;
       top: 50px;
       left: 10px;
       width: 100%;
       height: 300px; 
       overflow-y: scroll;
     }

     /* Track List */
     .list {
       display: block;
       border: 1px solid #ccc;
       border-bottom: none;
       background: #666;
       color: white;
       list-style: none;
       margin: 0;
       padding: 0;
       overflow-y: scroll;
     }
     
     .list > * {
       height: 80px;
       line-height: 80px;
       padding: 0 20px;
       border-bottom: 1px solid #ccc;
       overflow-y: scroll;
     }
     
     .list > *.core-selected {
       background: #333;
     }

     #track_info {
       color: #ccc;
       font-size: 0.7em;
     }
     
     #device_icon {
       position: relative;
       top: 10px;
       left: 0px;
       width: 50px;
       height: 50px; 
     }

     #device_name {
	position: relative;
	top: -10px;
	left: 10px;
	width: 200px;
	height: 50px; 
	}

     #device_active {
       position: relative;
       top: 10px;
       left: 20px;
       width: 30px;
       height: 30px; 
     }
    </style>
    
    <h2 id="title">Speaker List</h2>

    <core-selector id="speaker-panel" class="list" selected="{{deviceSelected}}">
      <template repeat="{{device in deviceList}}">
        <div>
	  <img id="device_icon" src="images/{{device.ModelName}}.png" width="50" height="50">
	  <span id="device_name"><span style="color:yellow;font-weight:bold">{{device.DeviceName}}</span>, {{device.GroupName}}, WiFi(dBm):{{device.WifiSignalStrength}}</span>
	  <paper-toggle-button class="blue" id="device_active" title="{{device.DeviceID}}" checked="{{device.Active}}" on-change="{{toggleChanged}}"></paper-toggle-button>
	</div>
	</template>
    </core-selector>

      <core-ajax id="ajaxDeviceList"
		 method="GET"
		 url="{{urlDeviceList}}"
		 on-core-response="{{responseDeviceList}}"
		 on-core-error="{{errorDeviceList}}">
      </core-ajax>

    <core-ajax id="ajaxSetActive"
	       method="GET"
	       url="{{urlSetActive}}"
	       on-core-response="{{responseSetActive}}"
	       on-core-error="{{errorSetActive}}">
    </core-ajax>
  </template>

  <script>
   Polymer('speakers-screen', {
     modelIcon: "images/speaker_fc1@2x.png",
     deviceChecked: false,
     deviceList: null,
     deviceSelected: 0,
     curDeviceID: "",
     deviceActive: false,

     deviceListChanged: function () {
       console.log("########################### deviceListChanged");
     },
     
     deviceSelectedChanged: function () {
       console.log("deviceSelectedChanged: " + this.deviceSelected);

       this.curDeviceID = this.deviceList[this.deviceSelected].DeviceID;
     },

     toggleChanged: function(e) {
       console.log("toggleChanged");
       console.log(e);
       var checked =  e.path[0].checked;
       var deviceId =  e.path[0].title;
       console.log("DeviceID: " + deviceId + ", checked: " + checked);

       if (checked == true) {
	 this.urlSetActive = window.huburl + "v1/add_device_to_session?SessionID=" + window.SessionID + "&DeviceID=" + parseInt(deviceId);
	 
       }
       else {
	 this.urlSetActive = window.huburl + "v1/remove_device_from_session?SessionID=" + window.SessionID + "&DeviceID=" + parseInt(deviceId);
       }
       console.log("urlSetActive: " + this.urlSetActive);

       this.$.ajaxSetActive.go();
     },

     created: function () {
       this.selection = "0";
     },

     ready: function () {
       console.log("media-screen");
     },

     go_speakers: function() {
       console.log("start speakers-screen");
       /* Get Media item list  */
       this.urlDeviceList = window.huburl + "v1/device_list?SessionID=" + window.SessionID;
       console.log("urlDeviceList: " + this.urlDeviceList);

       this.$.ajaxDeviceList.go();
     },

     responseDeviceList: function (e) {
       console.log("responseDeviceList:" + this.$.ajaxDeviceList.response);
       var parseData = JSON.parse(this.$.ajaxDeviceList.response);
       var res = parseData.DeviceList;

       for (var x = 0; x < res.length; x++) {
	 console.log("Device[" + x + "].DeviceID:" + res[x].DeviceID);
	 console.log("Device[" + x + "].DeviceName:" + res[x].DeviceName);
	 console.log("Device[" + x + "].GroupdID:" + res[x].GroupID);
	 console.log("Device[" + x + "].ModelName:" + res[x].ModelName);
	 console.log("Device[" + x + "].Volume:" + res[x].Volume);
	 console.log("Device[" + x + "].WifiSignalStrength:" + res[x].WifiSignalStrength);
	 console.log("Device[" + x + "].Active:" + res[x].Active);
       }

       this.deviceList = res;
     },

     errorDeviceList: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxDeviceList.response);
     },

     responseSetActive: function (e) {
       if(this.$.ajaxSetActive.response == null) {
	 console.log("responseSetActive: response is null. skip");
	 return;
       }
       console.log("response:" + this.$.ajaxSetActive.response);
       var parseData = JSON.parse(this.$.ajaxSetActive.response);
       var result = parseData.Result;
       console.log("setActive: " + result);
     },

     errorSetActive: function() {
       // error returned from the server
       console.log("error: " + this.$.ajaxSetActive.response);
     },

   });


  </script>
</polymer-element>

