<header class="bar bar-nav">
  {{#link-to 'settings' class="icon fa fa-cog fa-2x pull-right"}}{{/link-to}}
  <h1 class="title">Follow Me</h1>
</header>

<!-- Icons in standard bar fixed to the bottom of the screen -->
<div class="bar bar-tab bar-footer">
  {{#if speaker_now}}
    {{!-- {{#if isPlaying}}
      <a class="tab-item active" {{action 'pause'}}>
        <span class="fa fa-pause fa-lg"></span>
      </a>
    {{else}}
      <a class="tab-item active" {{action 'pause'}}>
        <span class="fa fa-play fa-lg"></span>
      </a>
    {{/if}} --}}
    <a class="tab-item active" {{action 'stop'}}>
      <span class="fa fa-stop fa-lg"></span>
    </a>
    <a class="tab-item active" {{action 'setVolume' true}}>
      <span class="fa fa-plus fa-lg"></span>
    </a>
    <a class="tab-item active" {{action 'setVolume' false}}>
      <span class="fa fa-minus fa-lg"></span>
    </a>
  {{else}}
    {{!-- <a class="tab-item" {{action 'pause'}}>
      <span class="fa fa-play fa-lg"></span>
    </a> --}}
    <a class="tab-item">
      <span class="fa fa-stop fa-lg"></span>
    </a>
    <a class="tab-item">
      <span class="fa fa-plus fa-lg"></span>
    </a>
    <a class="tab-item">
      <span class="fa fa-minus fa-lg"></span>
    </a>
  {{/if}}

</div>

<div class="bar bar-standard bar-footer-secondary center">
  {{#if proximity}}
    <p>{{proximity.name}} - {{proximity.devicename}} ({{_beacon.accuracy}})</p>
  {{else}}
    <p>No speakers nearby</p>
  {{/if}}
</div>


<div class="content content-a">
  <ul class="table-view">
    <li class="table-view-divider">Songs</li>
    {{#each model.songs as |song|}}
      <li class="table-view-cell" {{action 'playParty' song.PersistentID}}>
        <span class="media-object pull-left icon icon-play"></span>
        {{song.Title}}
      </li>
    {{/each}}
    <li class="table-view-divider">Speakers</li>
    {{#each model.speakers as |speaker|}}
      <li class="table-view-cell">
        <span class="media-object pull-left icon icon-sound"></span>
        {{speaker.GroupName}}
      </li>
    {{/each}}
    <li class="table-view-divider">Beacons</li>
    {{#each model.beacon as |beacon|}}
      <li class="table-view-cell">
        <span class="media-object pull-left icon icon-star"></span>
        {{beacon.name}} - {{beacon.devicename}}
      </li>
    {{/each}}
  </ul>
</div>

<div id="myModalexample" class="modal modal-alert {{if isBluetoothOff 'active'}}  {{if isBeaconAuthorisedOff 'active'}} ">
  <div class="content">
    {{#if isBluetoothOff}}
    <div class="content-padded">
      <p class="p-bluetooth-xl">Enable Bluetooth</p>
      <p class="p-bluetooth">{{appName}} uses bluetooth &amp; location to find nearby beacons.</p>
      <p class="p-bluetooth">To enable, go to <span>Settings > Bluetooth > Toggle the switch to ON.</span></p>
      <button class="btn btn-tomato btn-outlined" {{action 'checkBluetooth'}}>Check Now</button>
    </div>
    {{else}}
    <div class="content-padded">
      <p class="p-auth-xl">Enable Location</p>
      <p class="p-auth">{{appName}} uses bluetooth &amp; location to find nearby beacons.</p>
      <p class="p-auth">To enable, go to <span>Settings > Privacy > Location Services > {{appName}} and Tap on Always.</span></p>
    </div>
    {{/if}}
  </div>
</div>

{{outlet}}

<!-- http://192.168.1.84:8080/v1/remove_device_from_session?SessionID=1003&DeviceID=95211106154672 -->
<!-- http://192.168.1.84:8080/v1/remove_device_from_session?SessionID=1003&DeviceID=221057959671984 -->