<header class="bar bar-nav">
  {{#link-to 'application' class="btn btn-link btn-nav pull-left"}}
    <span class="icon icon-left-nav"></span>
    Back
  {{/link-to}}
  <h1 class="title">Settings</h1>
</header>

<div class="content">
{{#if saved}}
  <ul class="table-view">
    <li class="table-view-cell" style="background-color: coral;">
      Please close &amp; re-open the mobile app for changes to reflect.
    </li>
  </ul>
{{/if}}

  <div class="content-padded">
    <form>
      {{input type="text" placeholder="Server IP" value=server}}
      {{input type="text" placeholder="Server port" value=port}}
      {{input type="text" placeholder="API version" value=version}}
      <button class="btn btn-positive btn-block" {{action 'save'}}>Save Settings</button>
    </form>
  </div>
</div>

{{outlet}}
